html, body {
  background-color: #fafafa;
  color: #333;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* Fonts/Text */

h1, h2, h3, h4, h5, p, li, input, textarea, button {
  font-family: 'Montserrat', sans-serif;
  color: #333;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
}

p, li {
  line-height: 1.5;
}

.text-large {
  font-size: 4em;
  font-weight: 700;
}

.text-small {
  font-size: 0.75em;
  font-weight: 500;
}

.text-justify * {
  text-align: justify;
}

.text-lowcontrast * {
  color: #666;
}

a {
  color: #0091fe;
  text-decoration: none;
}

a.text:hover {
  border-bottom: 2px solid #0091fe;
}

.link-big {
  display: block;
  color: #fff;
  height: 84px;
  width: 84px;
  border-radius: 24px;
  text-align: center;
  background-color: transparent;
  text-decoration: none;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.link-big > i {
  font-size: 72px;
  line-height: 84px;
  display: inline;
}

.link-big:hover {
  color: #F38181;
  background-color: #fff;
}

.link-subtle * {
  font-size: 14px;
  color: #ccc;
}

/* Containers */

.block-big {
  display: block;
  min-height: 600px;
  overflow: hidden;
}

.block-little {
  display: block;
  width: 100%;
  max-width: 800px;
}

.card,
.img-thumb {
  width: 100%;
  max-width: 400px;
  overflow: hidden;
  padding: 10px;
}

.img-thumb img {
  display: block;
  border-radius: 10px;
  width: 100%;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.card {
  background-color: #fff;
  font-size: 0.8em;
  color: #555;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.card h5 {
  font-size: 1.75em;
  margin-bottom: 0;
  margin-top: 25px;
  padding-left: 25px;
}

.card p {
  padding: 10px 25px 0;
}

/* Tags */

.tag {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin-left: 25px;
  margin-top: 16px;
}

.tag > * {
  display: inline-block;
  margin-right: 4px;
  vertical-align: middle;
}

.tag > i {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: #f1c40f;
}

.tag.js > i {
  background-color: #f1c40f;
}

.tag.node > i {
  background-color: #2ecc71;
}

.tag.csharp > i {
  background-color: #8e44ad;
}

.tag.css > i {
  background-color: #e74c3c;
}

.tag.nwjs > i {
  background-color: #34495e;
}

.tag.bcrypt > i {
  background-color: #d35400;
}

.tag.firebase > i {
  background-color: #f39c12;
}

.tag.react > i {
  background-color: #3498db;
}

.tag.angular > i {
  background-color: #1abc9c;
}

.tag-links {
  margin-left: 25px;
  margin-bottom: 25px;
}

.tag-links > a {
  display: inline-block;
  margin-right: 10px;
  opacity: 0.7;
  text-decoration: none;
  color: #000;
}

.tag-links > a:hover {
  opacity: 1;
}

.tag-links i {
  font-size: 24px;
}

.fa.fa-desktop {
  font-size: 20px;
}

/* Positioning */

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.flex-container > div {
  align-self: center;
}

.margin-top-large {
  margin-top: 50px;
}

.pad-large {
  padding: 50px;
}

.pad-medium {
  padding: 25px;
}

.pad-small {
  padding: 10px;
}

.margin-bottom-large {
  margin-bottom: 100px;
}

.block-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.block-centered-vertical {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.block-centered-vertical h3 {
  margin-top: 0;
}

/* Images */

img[class^="img-*"] {
  width: 100%;
}

.img-large {
  max-width: 300px;
}

.img-medium {
  max-width: 200px;
}

.img-small {
  max-width: 100px;
}

/* Colors */

.co-white {
  color: #fff;
}

.co-red {
  color: #F38181;
}

.co-orange {
  color: #ff863f;
}

.co-yellow {
  color: #FCE38A;
}

.co-blue {
  color: #95E1D3;
}

.co-green {
  color: #EAFFD0;
}

.bg-red {
  background-color: #F38181;
}

.bg-orange {
  background-color: #ff863f;
}

.bg-yellow {
  background-color: #FCE38A;
}

.bg-blue {
  background-color: #95E1D3;
}

.bg-green {
  background-color: #EAFFD0;
}

.bg-white {
  background-color: #fff;
}

.co-birdyard {
  color: #f8ca00;
}

.co-goodrating {
  color: #c0392b;
}

.co-sh {
  color: #3498db;
}

/* Buttons */

button {
  border: none;
  outline: none;
}

/* Helpers */

.text-center {
  text-align: center;
}

.pos-relative {
  position: relative;
}

/* Small Screens */

@media (min-width: 0px) and (max-width: 1200px) {
  .mobile-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .mobile-wide {
    width: 100%;
    max-width: 100%;
  }

  .pad-large {
    padding: 25px;
  }
}