/* Layout */

html, body {
  background-color: #eee;
  color: #444;
  font-size: 14px;
  /*font-family: 'Hammersmith One', sans-serif;*/
  font-family: 'Roboto', sans-serif;
}

body {
  padding-top: 60px;
}

.top-border {
  display: block;
  height: 5px;
}

.menu a {
  display: block;
  margin-bottom: 10px;
}

[container] {
  max-width: 600px;
}

/* Headings */

h1, h2, h3, h4, h5, h6, h1 a {
  color: #000;
  margin-bottom: 10px;
}

h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #333;
  margin-bottom: 10px;
}

/* Links */

a {
  color: #222;
  padding: 0 1px;
  border-bottom: 2px solid #9b59b6;
  padding-bottom: 2px;
  transition: background 200ms, border 200ms, color 200ms;
}

a:hover,
a:active,
h3 a:hover,
h3 a:active {
  background-color: #9b59b6;
  border-bottom: 2px solid #eee;
  color: #fff;
}

h3 a {
  border-bottom: 4px solid #9b59b6;
  padding-bottom: 4px;
}

h3 a:hover,
h3 a:active {
  border-bottom: 4px solid #eee;
}

/* Lists */

ul, ol {
  padding-left: 0;
}

li {
  list-style: none;
  margin-bottom: 6px;
}

/* Colors */

.gradient {
  background: #7b4397; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #7b4397 , #dc2430); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #7b4397 , #dc2430); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Helpers */

.centered {
  text-align: center;
}

/* Special styles */

.parrot {
  margin-top: 10%;
}